*{margin:0;padding: 0}
a{text-decoration: none;color: #4d4d4d;}
li{list-style: none;}
.login_max{
	width: 100%;
	background: #fff;
	.login_mix{
		width:85%;
		margin: 0 auto;
		padding-top: 20px; 
		.login_logo{
			width: 113px;
			margin: 45px auto;
		} 
		.dps{
			height: 270px;
			width: 300px;
			margin: 0 auto;
			.phone_txt{
				height: 30px;
				border-bottom: 1px solid #000;
				.phone_logo{
					float: left;
					padding-right:18px; 
				}
				#mobile{
					height: 26px;
					width: 258px;
					border:none;
					font-size: 18px;
					outline: none;
				}
			}
			.yanzhengma_txt{
				position: relative;
				height: 30px;
				width: 300px;
				margin-top: 30px;
				border-bottom: 1px solid #000;
				.yanzhengma_logo{
					float: left;
					padding-right: 18px;
				}
				#yanzhengma{
					height: 26px;
					width: 250px;
					border:none;
					font-size: 18px;
					outline: none;
				}
				// .huoqu{
				// 	float: left;
				// 	position: absolute;
				// 	top: -5px;
				// 	left: 190px;
				// 	height:35px;
				// 	text-align: center;
				// 	line-height: 35px;
				// 	border-radius: 5px;
				// 	width: 110px;
				// 	border:1px solid ;
				// 	cursor: pointer;
				// }
			}
			.isauto{
				width: 300px;
				margin-top: 35px;
				#a_auto{
					float: left;
					margin-right:5px; 
				}
				span{
					margin-top: -4px;
					float: left;
					font-size: 14px;
				}
			}
			.login_btn{
				width: 300px;
				height: 55px;
				margin: 0 auto;
				text-align: center;
				line-height: 55px;
				background: #25292e;
				margin-top: 80px;
				font-size: 18px;
				color: #fff;
				border-radius: 5px;
				cursor: pointer; 
			}
			.more_login{
				margin-top: 20px;
				text-align: center;
			}
		}
	}
}